## Topic 6 - Python for Data Analysis : Data Preprocessing with Pandas

# Join

Using two of the dataframes below, answer the questions :

In [1]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
                   
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

In [ ]:
#import library and filter warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import pandasql as ps

import warnings
warnings.filterwarnings('ignore')

### Create a dataframe (df3) which consists both dataframe inner-joined by column "Key" (5 pts)

In [ ]:
#create df3 dataframe which consists of the result of df1 and df2 inner-joined by column "Key"
df3 = pd.merge(df1, df2, on='key', how='inner')
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

### Create a dataframe (df4) which consists of the result of df1 and df2 left-joined by column "Key" (10pts)

In [ ]:
#Create df4 dataframe which consists of the result of df1 and df2 left-joined by column "Key"
df4 = pd.merge(df1, df2, on='key', how='left')
df4

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

#### 1. Replace key "K2" into "K3" on df1
#### 2. Left join it with df2 
(15pts)

In [ ]:
#replace key K2 into K3 on df1
df1.replace('K2', 'K3')

  key   A
0  K0  A0
1  K1  A1
2  K3  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [ ]:
#left join df1 with df2
pd.merge(df1, df2, how='left')

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

# Dataframe Processing

Create a dictionary and convert it to a dataframe called "Customer_df" (15 pts)


name=['Anna','Jason','Cindy']

age=['22','23','21']

gender=['F','M','F']

In [ ]:
#create customer dictionary
customer_dict = ({
    'name' : ['Anna','Jason','Cindy'],
    'age' : ['22','23','21'],
    'gender' : ['F','M','F']
})
customer_dict

{'name': ['Anna', 'Jason', 'Cindy'],
 'age': ['22', '23', '21'],
 'gender': ['F', 'M', 'F']}

In [ ]:
#convert to dataframe
Customer_df = pd.DataFrame.from_dict(customer_dict)
Customer_df

    name age gender
0   Anna  22      F
1  Jason  23      M
2  Cindy  21      F

### Delete the "age" column (5 pts)

In [ ]:
#delete age column
Customer_df_without_age = Customer_df.drop('age', axis=1)
Customer_df_without_age

    name gender
0   Anna      F
1  Jason      M
2  Cindy      F

### Rename the "name" column into "first name" (10 pts)

In [ ]:
#rename name column into first name
Customer_df = Customer_df.rename(columns = {
    'name' : 'first name'
})
Customer_df.head()

  first name age gender
0       Anna  22      F
1      Jason  23      M
2      Cindy  21      F

### Sort the dataframe by age, descending (10 pts)

In [ ]:
#sort dataframe descending by age
Customer_df.sort_values('age', ascending=False)

  first name age gender
1      Jason  23      M
0       Anna  22      F
2      Cindy  21      F

## Run the code below for data source and answer the following questions

In [ ]:
import pandas as pd
df=pd.read_csv('http://bit.ly/kaggletrain')

### Show top 10 rows of the dataset (5 pts)

In [ ]:
#show top 10 of the dataset
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Using data aggregation in pandas , Answer the question below:

Show the total amount of passengers who survived and not survived (10pts)

In [ ]:
#show total amount of passenger who survived and not survived
df.groupby('Survived')['Survived'].count()

#keterangan : 0 = Not Survived, 1 = Survived

Survived
0    549
1    342
Name: Survived, dtype: int64

Show all male survivors from titanic incident (10 pts)

In [ ]:
#all male survivors from titanic insident
df[(df['Survived'] == 1) & (df['Sex'] == 'male')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...,...
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

Show the average fare paid based on gender (10 pts)

In [ ]:
#average fare paid based on gender
df.groupby('Sex')['Fare'].mean()

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

Show the total amount of passengers who survived and not survived based on gender (10pts)

In [ ]:
#Total amount of passengers who survived and not survived based on gender
df.groupby(['Survived', 'Sex']).agg({'Survived':['count']})

                Survived
                   count
Survived Sex
0        female       81
         male        468
1        female      233
         male        109